<%-layout('layout')%>
<div class="container">
    <div class="row">
        <!--左边区域-->
        <div class="col-lg-2 col-xs-12" style="padding-right: 0px;
        padding-left: 0px;background-color: white;margin-bottom: 15px">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active"><a href="#AboutUs" aria-controls="AboutUs" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span> 关于我们</a></li>
                <li role="presentation"><a href="#ContactUs" aria-controls="ContactUs" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span> 联系我们</a></li>
                <li role="presentation"><a href="#AdService" aria-controls="AdService" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-fire"></span> 广告服务</a></li>
                <li role="presentation"><a href="#Contribute" aria-controls="Contribute" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-qrcode"></span> 捐赠我们</a></li>
                <li role="presentation"><a href="#Declaration" aria-controls="Declaration" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-warning-sign"></span> 免责声明</a></li>
            </ul>
        </div>
        <!--右边区域-->
        <div class="col-lg-10 col-xs-12" style="padding-right: 0px;">
            <div  style="padding-right: 0px;
            padding-left: 0px;background-color: white">
                <!-- Tab panes -->
                <div class="tab-content">

                    <!--关于我们-->
                    <div role="tabpanel" class="tab-pane active" id="AboutUs">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">关于我们</h3>
                            </div>
                            <div class="panel-body">
                                <p>考研人爱分享社区是由个人承建的，力争为近1000万考研学子提供免费的咨询、互助和资源共享的一个社区网站。
                                    该社区主要提供考研咨询、资源共享、研友互助等方面的功能，后期会进一步的扩展，以便给广大学子提供更好地服务。</p>
                            </div>
                        </div>
                    </div>

                    <!--联系我们-->
                    <div role="tabpanel" class="tab-pane" id="ContactUs">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">联系我们</h3>
                            </div>
                            <div class="panel-body">
                                <p>地址：上海市嘉定区曹安公路4800号</p>
                                <p> 联系方式：qq(2323794414) 微信(15821136816mzh)</p>
                            </div>
                        </div>
                    </div>

                    <!--广告服务-->
                    <div role="tabpanel" class="tab-pane" id="AdService">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">广告服务</h3>
                            </div>
                            <div class="panel-body">
                                <p>广告服务请通过以下方式联系：</p>
                                <p> 联系方式：qq(2323794414) 微信(15821136816mzh)</p>
                            </div>
                        </div>
                    </div>

                    <!--捐赠我们-->
                    <div role="tabpanel" class="tab-pane" id="Contribute">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">捐赠我们</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-xs-12" style="margin-bottom: 10px">
                                        <div class="center-block text-center">
                                            <p >支付宝捐赠二维码</p>
                                            <img src="/public/images/zhifubao.jpg" alt="" width="200" height="244" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xs-12">
                                        <div class="center-block text-center">
                                            <p>微信捐赠二维码</p>
                                            <img src="/public/images/weixin.jpg" alt="" width="200" height="244">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--免责声明-->
                    <div role="tabpanel" class="tab-pane" id="Declaration">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">免责声明</h3>
                            </div>
                            <div class="panel-body">
                                <p>考研人爱分享社区是由个人承建的，力争为近1000万考研学子提供免费的咨询、互助和资源共享的一个社区网站。</p>
                                <p><br/></p>
                                <p>请用户使用本网站前仔细阅读本法律声明。您一旦使用本网站则表明您已明知并接受这些条款。
                                    用户必须按照法律法规的规定和本声明的要求使用本网站的信息和服务，否则本网站将依法追究有关当事人的法律责任。
                                </p>
                                <p><br/></p>
                                <p><strong>一、知识产权</strong><br/></p>
                                <p>域名、标识及专有名称</p>
                                <p>本网站所使用的http://47.95.196.144:3000和Logo等专有标识，未经网站所有者许可，任何人不得使用。</p>
                                <p><br/></p>
                                <p>版权</p>
                                <p>本网站包含的所有内容（包括但不限于：文本、图形、图片、视像及声音内容、LOGO标识、版面设计、专栏目录与名称、
                                    内容分类）的所有权归网站承办人所有。
                                </p>
                                <p><br/></p>
                                <p>本网站的内容和软件均受《中华人民共和国著作权法》及其它相关法律的保护。任何单位或个人将本网站提供的内
                                    容与服务用于商业、盈利、广告性等目的时，需征得本网站承办人许可；将本网站提供的内容与服务用于非商业用途时
                                    ，应遵守著作权法以及其他相关法律的规定，不得侵犯网站所有者及相关权利人的权益。
                                </p>
                                <p><br/></p>
                                <p>版权异议</p>
                                <p>如权利人认为本网站内容中所涉及的文字作品、图片和音视频资料（以下简称“作品”），侵犯其著作权的，
                                    请及时书面通知本网站，本网站将依法删除被指侵权的作品或断开相应的链接；但权利人不能出示有效身份证明
                                    、著作权权属证明及侵权情况证明的，视为未提出异议。因权利人的通知导致本网站错误删除作品，
                                    或者错误断开与作品的链接的，本网站不承担任何责任。
                                </p>
                                <p><br/></p>
                                <p><strong>二、用户信息</strong></p>
                                <p>信息采集</p>
                                <p>当用户浏览本网站时，本网站的系统将自动收集用户的IP地址及网站浏览信息。这些信息有助于我们
                                    在整体基础上评估我们的网站浏览者以及用户如何使用、浏览我们的网站，包括浏览者和用户对每一
                                    网页的访问次数、频率和浏览时间。通过收集上述信息，我们将进行流量统计，从而改进网站的管理和服务。
                                </p>
                                <p><br/></p>
                                <p>信息使用</p>
                                <p>用户向本网站提供的个人信息将可能用于下列用途：</p>
                                <p>（1）核实用户身份，并提供相应的服务；</p>
                                <p>（2）用于编制有关网站使用的流量统计数据；</p>
                                <p>（3）通过发送电子邮件或以其它方式，告知用户相关信息。</p>
                                <p><br/></p>
                                <p>在未得到用户许可前，本网站不会将用户的任何个人信息提供给任何第三方，但发生以下事由的除外：</p>
                                <p>（1）按照本网站制订的规则和程序，本网站有充分的理由相信已经获得用户的授权；</p>
                                <p>（2）按照中华人民共和国的法律、法规、政策等规范性法律文件规定，要求本网站提供的；</p>
                                <p>（3）不能归咎于本网站的客观情势，所导致的个人资料的公开；</p>
                                <p>（4）因不可抗力，所导致的个人资料的公开；</p>
                                <p>（5）由于用户自身过错，而导致的个人资料的公开；</p>
                                <p>（6）超出本网站使用的硬件和软件的技术能力范围，所导致的个人资料的公开；</p>
                                <p>（7）紧急情况下为维护用户个人或社会大众的隐私和安全的；</p>
                                <p>（8）为维护本网站的所有权及相关权利的。</p>
                                <p><br/></p>
                                <p>信息安全</p><p>本网站将对用户所提供的资料进行严格的管理及保护，并将使用相应的技术措施
                                （例如设置服务器备份数据和对用户密码加密等），防止用户的个人资料丢失、被盗用或遭窜改。
                                如因不可抗力或计算机病毒感染、黑客攻击等特殊原因，导致用户信息被破坏、泄密并受到损失的，
                                本网站将采取必要措施尽力减少用户的损失，但本网站对此不承担任何责任。</p>
                                <p><br/></p>
                                <p>用户权利</p>
                                <p>用户可通过本网站的相关网页查看、更新并修改提供给本网站的个人信息，也可以要求本网站删除该信息。</p>
                                <p><br/></p>
                                <p><strong>三、免责</strong></p>
                                <p>本网站对本网站上所有由第三方提供的信息、内容和服务，不提供明示或暗示的担保。
                                    本网站对使用上述信息、内容和服务所造成的任何损失不承担责任，包括直接损失和间接损失。</p>
                                <p><br/></p>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
        </div>
        <!--回到顶部-->
        <div style="width: 100px; height: 10px;">
            <!--这个带ID的p标签，叫做锚标记，放在页面顶部位置，目的：防止代码不起作用时(比如类库版本浏览器不支持)，你点击回到顶部，仍然可以通过锚标记实现-->
            <p id="pageTop"></p>
            <section id="top_sec" class="top_sec">
                <a href="#" id="goPageTop"></a>
                <a href="/" id="goPageHome"></a>
            </section>
        </div>

    </div>
</div>
<link rel='stylesheet' href='/public/stylesheets/index.css'>