<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
			<nav class="navbar navbar-default navbar-fixed-bottom text-center" style="background-color: white">
				<div class="container">
					All Content and images @copy: meizhenhao<br>
					如有维权，必定追究其法律责任
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>
</div>

<script type="text/javascript">
	/* 回到顶部 */
    $(function() {
        $(function() {
            $(window).scroll(function() {
				/* 判断滚动条 距离页面顶部的距离 100可以自定义*/
                if($(window).scrollTop() > 100) {
                    $("#top_sec").fadeIn(100); /* 这里用.show()也可以 只是效果太丑 */
                } else {
                    $("#top_sec").fadeOut(100);
                }
            });
        });
		/* 给图片元素绑定 回到顶部的事件 */
        $(function() {
            $("#goPageTop").on("click", function() {
                $('body,html').animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
    });
</script>
